<div class="tudo">
    <input type="text" [(ngModel)]="nomeCategoria".toLowerCase class="minions" placeholder="     Insira a categoria...">
    <p class="cat">A categoria escolhida foi {{nomeCategoria}}</p>
    
    <div [ngSwitch]="nomeCategoria">
        <section *ngSwitchCase=" 'terror' ">
            <ul *ngFor="let filme of catTerror">
                <li>{{filme.name}}</li>
                <h3>{{filme.description}}</h3>
                <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
            </ul>
        </section>
        <section *ngSwitchCase=" 'fantasia' ">
            <ul *ngFor="let filme of catFantasia">
                <li>{{filme.name}}</li>
                <h3>{{filme.description}}</h3>
                <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
            </ul>
        </section>
        <section *ngSwitchCase="'acao'">
            <ul *ngFor="let filme of catAcao">
                <li>{{filme.name}}</li>
                <h3>{{filme.description}}</h3>
                <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
            </ul>
        </section> 
    </div>
</div>
    
<router-outlet></router-outlet>
